
@{
    ViewBag.Title = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/layout.css" rel="stylesheet" />
<script defer src="~/Scripts/APP/InformeAccidenteTrabajo/InformeAccidenteTrabajo.js"></script>



<h1 class="p-1 mb-2 text-white" style="background-color: #006068; text-align: center; ">
    <strong>
        INSTRUMENTO PARA LA CARACTERIZACIÓN DE LOS TRABAJADORES DE LA ECONOMÍA POPULAR Y COMUNITARIA - AMBULANTE Y SEMIESTACIONARIO
    </strong>
</h1>
<hr width=100% align="right" size=200 color="black">

<!-- Modal centrado -->
<div class="modal fade" id="modalTipoTrabajo" tabindex="-1" aria-labelledby="modalTipoTrabajoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTipoTrabajoLabel">Seleccione el tipo de trabajo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <p>¿Qué tipo de trabajo desarrollas?</p>
                <button type="button" class="btn btn-primary w-100 mb-2" onclick="redirigir('ambulante')">Ambulante</button>
                <button type="button" class="btn btn-success w-100 mb-2" onclick="redirigir('semiestacionario')">Semiestacionario</button>
                <button type="button" class="btn btn-secondary w-100" onclick="redirigir('estacionario')">Estacionario</button>
            </div>
        </div>
    </div>
</div>

<script>
    let modalTipoTrabajoInstance; // Guardar instancia del modal

    function redirigir(tipo) {
        let ruta = "";
        switch (tipo) {
            case "ambulante":
            case "semiestacionario":
                ruta = "https://localhost:44379/AmbulanteSemiestacionario/Agregar";
                break;
            case "estacionario":
                ruta = "https://localhost:44379/Estacionario/Agregar";
                break;
        }

        if (window.location.href !== ruta) {
            window.location.href = ruta;
        } else {
            // Usar la instancia guardada
            if (modalTipoTrabajoInstance) {
                modalTipoTrabajoInstance.hide();
            }
        }
    }

    window.onload = function () {
        const modalElement = document.getElementById('modalTipoTrabajo');
        modalTipoTrabajoInstance = new bootstrap.Modal(modalElement);
        modalTipoTrabajoInstance.show();
    };
</script>



<div class="">

    @Html.AntiForgeryToken()
    <form id="FormPolitica" name="FormPolitica">
        <div asp-validation-summar="ModelOnly" class="text-danger"></div>

        <div class="row m-0">


            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>1. Fecha de Caracterizacion<span style="color: red;"> *</span></strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" type="date" class="form-control" id="ApellidosPolitica" name="ApellidosPolitica" placeholder="Digite sus apellidos completos" />
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>2. Forma en la que el trabajador desarrolla su ocupación u oficio<span style="color: red;">*</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoDocumento" name="TipoDocumento">
                    <option value="">Seleccionar</option>
                    <option value="Ambulante">Ambulante</option>
                    <option value="Semiestacionario">Semiestacionario</option>

                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>3. Municipio donde se desarrolla la ocupación u oficio<span style="color: red;">*</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoDocumento" name="TipoDocumento">
                    <option value="">Seleccionar</option>
                    <option value="Valledupar">Valledupar</option>
                    <option value="Aguachica">Aguachica</option>
                    <option value="Agustín Codazzi">Agustín Codazzi</option>
                    <option value="Astrea">Astrea</option>
                    <option value="Becerril">Becerril</option>
                    <option value="Bosconia">Bosconia</option>
                    <option value="Chimichagua">Chimichagua</option>
                    <option value="Chiriguaná">Chiriguaná</option>
                    <option value="Curumaní">Curumaní</option>
                    <option value="El Copey">El Copey</option>
                    <option value="El Paso">El Paso</option>
                    <option value="Gamarra">Gamarra</option>
                    <option value="González">González</option>
                    <option value="La Gloria">La Gloria</option>
                    <option value="La Jagua de Ibirico">La Jagua de Ibirico</option>
                    <option value="La Paz">La Paz</option>
                    <option value="Manaure">Manaure</option>
                    <option value="Pailitas">Pailitas</option>
                    <option value="Pelaya">Pelaya</option>
                    <option value="Pueblo Bello">Pueblo Bello</option>
                    <option value="Río de Oro">Río de Oro</option>
                    <option value="San Alberto">San Alberto</option>
                    <option value="San Diego">San Diego</option>
                    <option value="San Martín">San Martín</option>
                    <option value="Tamalameque">Tamalameque</option>

                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>4. Ámbito Territorial<span style="color: red;">*</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoDocumento" name="TipoDocumento">
                    <option value="">Seleccionar</option>
                    <option value="Rural">Rural</option>
                    <option value="Urbano">Urbano</option>
                    <option value="Rural Disperso">Rural Disperso</option>
                </select>
            </div>

        </div>
    </form>

</div>
<br />
<h1 class="p-1 mb-2 text-white" style="background-color: #006068; text-align: center; "><strong>INFORMACIÓN BÁSICA DEL O LOS TRABAJADORES</strong></h1>
@*<hr width=100% align="right" size=200 color="black">*@
<div>

    @Html.AntiForgeryToken()
    <form id="FormPolitica" name="FormPolitica">
        <div asp-validation-summar="ModelOnly" class="text-danger"></div>

        <div class="row m-0">


            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>5. Nombre Completo <span style="color: red;"> *</span></strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" type="text" class="form-control" id="PrimerNombre" name="PrimerNombre" placeholder="Digite sus nombre completo" />
                <span asp-validation-for="NombresPasaporte" class="text-danger"></span>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>6. Apellido Completo <span style="color: red;"> *</span></strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" type="text" class="form-control" id="PrimerApellido" name="PrimerApellido" placeholder="Digite sus apellidos completo" />
                <span asp-validation-for="NombresPasaporte" class="text-danger"></span>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>7. Tipo Documento <span style="color: red;"> *</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoIdentificacion" name="TipoIdentificacion">
                    <option value="">Seleccionar</option>
                    <option value="Ducumento de Ciudadania">Cedula de Ciudadania</option>
                    <option value="Registro Civil">Registro Civil</option>
                    <option value="Tarjeta de Identidad">Tarjeta de Identidad</option>
                    <option value="Cedula de Extranjeria">Cedula de Extranjeria</option>
                    <option value="Pasaporte">Pasaporte</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>8. Numero Identificacion<span style="color: red;"> *</span></strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" type="number" class="form-control" id="FechaNacimiento" name="FechaNacimiento" placeholder="Digite la fecha de nacimiento" />
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>Fecha Nacimiento<span style="color: red;"> *</span></strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" type="date" class="form-control" id="FechaNacimiento" name="FechaNacimiento" placeholder="Digite la fecha de nacimiento" />
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>9. Ocupación u oficio<span style="color: red;"> *</span></strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" type="text" class="form-control" id="ApellidosPolitica" name="ApellidosPolitica" placeholder="Digite sus apellidos completos" />
            </div>

        </div>



    </form>

</div>
<br />
<h1 class="p-1 mb-2 text-white" style="background-color: #006068; text-align: center; "><strong>DATOS SOCIODEMOGRÁFICOS</strong></h1>
@*<hr width=100% align="right" size=200 color="black">*@
<div>

    @Html.AntiForgeryToken()
    <form id="FormPolitica" name="FormPolitica">
        <div asp-validation-summar="ModelOnly" class="text-danger"></div>

        <div class="row m-0">

            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>10. ¿Cuál es el sexo biológico del trabajador? <span style="color: red;"> *</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoIdentificacion" name="TipoIdentificacion">
                    <option value="">Seleccionar</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    @*<option value="Otro">Otro</option>*@
                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>11. ¿Cuál es el nivel educativo del trabajador? <span style="color: red;"> *</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoIdentificacion" name="TipoIdentificacion">
                    <option value="">Seleccionar</option>
                    <option value="Sin estudios">Sin estudios</option>
                    <option value="Básica Primaria incompleta">Básica Primaria incompleta</option>
                    <option value="Básica Primaria completa">Básica Primaria completa</option>
                    <option value="Básica Secundaria incompleta">Básica Secundaria incompleta</option>
                    <option value="Básica Secundaria completa">Básica Secundaria completa</option>
                    <option value="Media incompleta">Media incompleta</option>
                    <option value="Media completa">Media completa</option>
                    <option value="Pregrado incompleto">Pregrado incompleto</option>
                    <option value="Pregrado completo">Pregrado completo</option>
                    <option value="Posgrado incompleto">Posgrado incompleto</option>
                    <option value="Posgrado completo">Posgrado completo</option>
                    <option value="Formación para el desarrollo y el trabajo">Formación para el desarrollo y el trabajo</option>
                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>12. ¿A que grupo de población pertenece el trabajador?  <span style="color: red;"> *</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoIdentificacion" name="TipoIdentificacion">
                    <option value="">Seleccionar</option>
                    <option value="Indígena">Indígena</option>
                    <option value="Negros, Afros, Raizales y Palenqueros (NARP)">Negros, Afros, Raizales y Palenqueros (NARP)</option>
                    <option value="Población Gitana (Rrom)">Población Gitana (Rrom)</option>
                    <option value="Campesino">Campesino</option>
                    <option value="Ninguno">Ninguno</option>
                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>13. ¿El trabajador presenta alguna de estas condiciones? <span style="color: red;"> *</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoIdentificacion" name="TipoIdentificacion">
                    <option value="">Seleccionar</option>
                    <option value="LGBTIQ+">LGBTIQ+</option>
                    <option value="Desplazado">Desplazado</option>
                    <option value="Migrante">Migrante</option>
                    <option value="Desmovilizado">Desmovilizado</option>
                    <option value="Víctima de violencia o conflicto armado">Víctima de violencia o conflicto armado</option>
                    <option value="Mujer trabajadora rural">Mujer trabajadora rural</option>
                    <option value="Mujer cabeza de familia">Mujer cabeza de familia</option>
                    <option value="Adulto mayor">Adulto mayor</option>
                    <option value="Población Privada de la Libertad">Población Privada de la Libertad</option>
                    <option value="No pertenece a ninguno">No pertenece a ninguno</option>
                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>14. ¿El trabajador pertenece a alguna organización social? <span style="color: red;"> *</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoIdentificacion" name="TipoIdentificacion">
                    <option value="">Seleccionar</option>
                    <option value="Grupo organizado de trabajadores informales">Grupo organizado de trabajadores informales</option>
                    <option value="Redes Barriales comunitarios">Redes Barriales comunitarios</option>
                    <option value="Grupo de mujer y género">Grupo de mujer y género</option>
                    <option value="Grupo religioso">Grupo religioso</option>
                    <option value="Grupos de migrantes">Grupos de migrantes</option>
                    <option value="Grupos étnicos">Grupos étnicos</option>
                    <option value="No pertenece a ninguno">No pertenece a ninguno</option>
                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>15. ¿A cuál de los sistemas de la Seguridad Social Integral se encuentra afiliado el trabajador?<span style="color: red;"> *</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoIdentificacion" name="TipoIdentificacion">
                    <option value="">Seleccionar</option>
                    <option value="Salud (Régimen contributivo o Régimen Subsidiado)">Salud (Régimen contributivo o Régimen Subsidiado)</option>
                    <option value="Riesgos Laborales">Riesgos Laborales</option>
                    <option value="Pensiones">Pensiones</option>
                    <option value="BEPS">BEPS</option>
                    <option value="Cajas de Compensación Familiar">Cajas de Compensación Familiar</option>
                    <option value="Ninguno">Ninguno</option>
                </select>
            </div>


        </div>



    </form>

</div>

<br />
<h1 class="p-1 mb-2 text-white" style="background-color: #006068; text-align: center; "><strong> DATOS SOCIOECONÓMICOS</strong></h1>
@*<hr width=100% align="right" size=200 color="black">*@
<div>

    @Html.AntiForgeryToken()
    <form id="FormPolitica" name="FormPolitica">
        <div asp-validation-summar="ModelOnly" class="text-danger"></div>

        <div class="row m-0">

            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>16. ¿Cuánto tiempo de antigüedad lleva el trabajador realizando la ocupación u oficio? <span style="color: red;"> *</span></strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" type="text" class="form-control" id="NombresPolitica" name="NombresPolitica" placeholder="marcar en años" />
                <span asp-validation-for="NombresPasaporte" class="text-danger"></span>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>17. ¿En que jornada realiza la ocupación u oficio el trabajador? <span style="color: red;"> *</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoIdentificacion" name="TipoIdentificacion">
                    <option value="">Seleccionar</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    @*<option value="Otro">Otro</option>*@
                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>18. ¿Cuántas horas al día dedica el trabajador a la ocupación u oficio? <span style="color: red;"> *</span></strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" type="text" class="form-control" id="NombresPolitica" name="NombresPolitica" placeholder="marcar en años" />
                <span asp-validation-for="NombresPasaporte" class="text-danger"></span>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>19. ¿Cuántos días a la semana dedica el trabajador a la ocupación u oficio? <span style="color: red;"> *</span></strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" type="text" class="form-control" id="NombresPolitica" name="NombresPolitica" placeholder="marcar en años" />
                <span asp-validation-for="NombresPasaporte" class="text-danger"></span>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>20. ¿Cuál es la forma de desplazamiento más frecuente que utiliza el trabajador hacia el lugar donde realiza su oficio u ocupación?<span style="color: red;"> *</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoIdentificacion" name="TipoIdentificacion">
                    <option value="">Seleccionar</option>
                    <option value="Sin estudios">Sin estudios</option>
                    <option value="Básica Primaria incompleta">Básica Primaria incompleta</option>
                    <option value="Básica Primaria completa">Básica Primaria completa</option>
                    <option value="Básica Secundaria incompleta">Básica Secundaria incompleta</option>
                    <option value="Básica Secundaria completa">Básica Secundaria completa</option>
                    <option value="Media incompleta">Media incompleta</option>
                    <option value="Media completa">Media completa</option>
                    <option value="Pregrado incompleto">Pregrado incompleto</option>
                    <option value="Pregrado completo">Pregrado completo</option>
                    <option value="Posgrado incompleto">Posgrado incompleto</option>
                    <option value="Posgrado completo">Posgrado completo</option>
                    <option value="Formación para el desarrollo y el trabajo">Formación para el desarrollo y el trabajo</option>
                </select>
            </div>



        </div>



    </form>

</div>

<br />
<h1 class="p-1 mb-2 text-white" style="background-color: #006068; text-align: center; "><strong> CONDICIONES DE SALUD REFERIDAS POR LOS TRABAJADORES</strong></h1>
@*<hr width=100% align="right" size=200 color="black">*@
<div>

    @Html.AntiForgeryToken()
    <form id="FormPolitica" name="FormPolitica">
        <div asp-validation-summar="ModelOnly" class="text-danger"></div>

        <div class="row m-0">


            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>21. ¿Le han diagnosticado algunas de estas enfermedades o condiciones al trabajador? <span style="color: red;"> *</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoIdentificacion" name="TipoIdentificacion">
                    <option value="">Seleccionar</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    @*<option value="Otro">Otro</option>*@
                </select>
            </div>


            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>22. ¿El trabajador consume alguna de estas sustancias?  <span style="color: red;"> *</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoIdentificacion" name="TipoIdentificacion">
                    <option value="">Seleccionar</option>
                    <option value="Sin estudios">Sin estudios</option>
                    <option value="Básica Primaria incompleta">Básica Primaria incompleta</option>
                    <option value="Básica Primaria completa">Básica Primaria completa</option>

                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>23. ¿Con que frecuencia el trabajador consume bebidas alcohólicas?<span style="color: red;"> *</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoIdentificacion" name="TipoIdentificacion">
                    <option value="">Seleccionar</option>
                    <option value="Sin estudios">Sin estudios</option>
                    <option value="Básica Primaria incompleta">Básica Primaria incompleta</option>
                    <option value="Básica Primaria completa">Básica Primaria completa</option>

                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>24. ¿Cuantó tiempo a la semana realiza actividad física el trabajador? <span style="color: red;"> *</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoIdentificacion" name="TipoIdentificacion">
                    <option value="">Seleccionar</option>
                    <option value="Sin estudios">Sin estudios</option>
                    <option value="Básica Primaria incompleta">Básica Primaria incompleta</option>
                    <option value="Básica Primaria completa">Básica Primaria completa</option>

                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>25. ¿Cuántas horas al día duerme el trabajador? <span style="color: red;"> *</span></strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" type="text" class="form-control" id="NombresPolitica" name="NombresPolitica" placeholder="marcar en años" />
                <span asp-validation-for="NombresPasaporte" class="text-danger"></span>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>26. ¿Con que frecuencia el trabajador consume frutas y verduras?<span style="color: red;"> *</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoIdentificacion" name="TipoIdentificacion">
                    <option value="">Seleccionar</option>
                    <option value="Sin estudios">Sin estudios</option>
                    <option value="Básica Primaria incompleta">Básica Primaria incompleta</option>
                    <option value="Básica Primaria completa">Básica Primaria completa</option>

                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>27. En el último mes, ¿el trabajador ha presentado alguna de las siguientes manifestaciones o comportamientos?<span style="color: red;"> *</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoIdentificacion" name="TipoIdentificacion">
                    <option value="">Seleccionar</option>
                    <option value="Sin estudios">Sin estudios</option>
                    <option value="Básica Primaria incompleta">Básica Primaria incompleta</option>
                    <option value="Básica Primaria completa">Básica Primaria completa</option>

                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>28. En el último mes, durante la realización del oficio u ocupación ¿el trabajador ha presenta alguno de estos síntomas?   <span style="color: red;"> *</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoIdentificacion" name="TipoIdentificacion">
                    <option value="">Seleccionar</option>
                    <option value="Sin estudios">Sin estudios</option>
                    <option value="Básica Primaria incompleta">Básica Primaria incompleta</option>
                    <option value="Básica Primaria completa">Básica Primaria completa</option>

                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>29. En el último mes, ¿el trabajador ha tenido algún accidente relacionado con su ocupación u oficio?   <span style="color: red;"> *</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoIdentificacion" name="TipoIdentificacion">
                    <option value="">Seleccionar</option>
                    <option value="Sin estudios">Sin estudios</option>
                    <option value="Básica Primaria incompleta">Básica Primaria incompleta</option>
                    <option value="Básica Primaria completa">Básica Primaria completa</option>

                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>30. ¿El trabajador presenta algún tipo de discapacidad? <span style="color: red;"> *</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoIdentificacion" name="TipoIdentificacion">
                    <option value="">Seleccionar</option>
                    <option value="Sin estudios">Sin estudios</option>
                    <option value="Básica Primaria incompleta">Básica Primaria incompleta</option>
                    <option value="Básica Primaria completa">Básica Primaria completa</option>

                </select>
            </div>
        </div>



    </form>

</div>
<br />
<h1 class="p-1 mb-2 text-white" style="background-color: #006068; text-align: center; "><strong> CONDICIONES DE TRABAJO</strong></h1>
@*<hr width=100% align="right" size=200 color="black">*@
<div>

    @Html.AntiForgeryToken()
    <form id="FormPolitica" name="FormPolitica">
        <div asp-validation-summar="ModelOnly" class="text-danger"></div>

        <div class="row m-0">


            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>31.Durante la realización del oficio ¿el trabajador se encuentra expuesto a los siguientes Peligros por Condiciones de Seguridad?<span style="color: red;"> *</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoIdentificacion" name="TipoIdentificacion">
                    <option value="">Seleccionar</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    @*<option value="Otro">Otro</option>*@
                </select>
            </div>


            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>32. Durante la realización del oficio ¿el trabajador se encuentra expuesto a los siguientes Peligros Físicos?  <span style="color: red;"> *</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoIdentificacion" name="TipoIdentificacion">
                    <option value="">Seleccionar</option>
                    <option value="Sin estudios">Sin estudios</option>
                    <option value="Básica Primaria incompleta">Básica Primaria incompleta</option>
                    <option value="Básica Primaria completa">Básica Primaria completa</option>

                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>33. Durante la realización del oficio ¿el trabajador se encuentra expuesto a los siguientes Peligros Biomecánicos?<span style="color: red;"> *</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoIdentificacion" name="TipoIdentificacion">
                    <option value="">Seleccionar</option>
                    <option value="Sin estudios">Sin estudios</option>
                    <option value="Básica Primaria incompleta">Básica Primaria incompleta</option>
                    <option value="Básica Primaria completa">Básica Primaria completa</option>

                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>34. Durante la realización del oficio ¿el trabajador se encuentra expuesto a los siguientes Peligros Químicos? <span style="color: red;"> *</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoIdentificacion" name="TipoIdentificacion">
                    <option value="">Seleccionar</option>
                    <option value="Sin estudios">Sin estudios</option>
                    <option value="Básica Primaria incompleta">Básica Primaria incompleta</option>
                    <option value="Básica Primaria completa">Básica Primaria completa</option>

                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>35. Durante la realización del oficio ¿el trabajador se encuentra expuesto a los siguientes Peligros Biológicos?<span style="color: red;"> *</span></strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" type="text" class="form-control" id="NombresPolitica" name="NombresPolitica" placeholder="marcar en años" />
                <span asp-validation-for="NombresPasaporte" class="text-danger"></span>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>36. Durante la realización del oficio ¿el trabajador se encuentra expuesto a los siguientes Peligros Psicosociales?<span style="color: red;"> *</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoIdentificacion" name="TipoIdentificacion">
                    <option value="">Seleccionar</option>
                    <option value="Sin estudios">Sin estudios</option>
                    <option value="Básica Primaria incompleta">Básica Primaria incompleta</option>
                    <option value="Básica Primaria completa">Básica Primaria completa</option>

                </select>
            </div>

        </div>



    </form>

</div>



<br />
<h1 class="p-1 mb-2 text-white" style="background-color: #006068; text-align: center; "><strong>AGUA Y SANEAMIENTO (Solo para trabajadores ambulantes y semiestacionarios)</strong></h1>
@*<hr width=100% align="right" size=200 color="black">*@

<div class="">

    @Html.AntiForgeryToken()
    <form id="FormPolitica" name="FormPolitica">
        <div asp-validation-summar="ModelOnly" class="text-danger"></div>

        <div class="row m-0">

            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>Tipo Documento <span style="color: red;">*</span></strong> </label>
                <select style="border: black; border-width: 1px; border-style: solid;" class="select2 form-control" id="TipoDocumento" name="TipoDocumento">
                    <option value="">Seleccionar</option>
                    <option value="Ducumento de Ciudadania">Cedula de Ciudadania</option>
                    <option value="Registro Civil">Registro Civil</option>
                    <option value="Tarjeta de Identidad">Tarjeta de Identidad</option>
                    <option value="Cedula de Extranjeria">Cedula de Extranjeria</option>
                    <option value="Pasaporte">Pasaporte</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>Numero Documento<span style="color: red;"> *</span></strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" type="text" class="form-control" id="ApellidosPolitica" name="ApellidosPolitica" placeholder="Digite sus apellidos completos" />
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>Apellidos y nombres Completos <span style="color: red;">*</span></strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" type="text" class="form-control" id="NombresPolitica" name="NombresPolitica" placeholder="Digite su nombre completo" />
                <span asp-validation-for="NombresPasaporte" class="text-danger"></span>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>Ocupación <span style="color: red;">*</span></strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" type="text" class="form-control" id="ApellidosPolitica" name="ApellidosPolitica" placeholder="Digite su ocupación" />
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <label><strong>Firma <span style="color: red;">*</span></strong></label>
                <input style="border: black; border-width: 1px; border-style: solid;" type="text" class="form-control" id="ApellidosPolitica" name="ApellidosPolitica" placeholder="Digite su ocupación" />
            </div>
        </div>
    </form>

</div>

<script>
    // JavaScript para mostrar u ocultar el formulario para menores de edad
    document.getElementById("flexRadioDefault1").addEventListener("change", function () {
        document.getElementById("formularioMenorEdad").style.display = "none";
    });
    document.getElementById("flexRadioDefault2").addEventListener("change", function () {
        document.getElementById("formularioMenorEdad").style.display = "block";
    });
</script>
<br />
<br />
<div class="form-check form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" onchange="activarBoton()">
    <label class="form-check-label" for="inlineCheckbox2">
        <strong>
            AVISO DE PRIVACIDAD: la gobernacion del cesar informa que los datos personales por usted suministrados serán tratados de acuerdo con la legislación vigente y nuestra política de protección de datos vigente, la cual está disponible en
            <a href="https://cesar.gov.co/d/index.php/es/2-uncategorised/2856-artpolpriv" target="_blank">POLÍTICA DE PROTECCIÓN DE DATOS PERSONALES</a>
        </strong>
        <br />
        <br />
    </label>
</div>

<div class="col-xs-6 col-sm-6 col-md-6">
    <button type="button" onclick="Createobj()" class="btn btn-block btn-outline-primary btn-rounded btn-outline mt-4" id="SaveAccidenteTrabajo" disabled>Guardar</button>
</div>

<script>
    function activarBoton() {
        var checkbox = document.getElementById("inlineCheckbox2");
        var botonGuardar = document.getElementById("SaveAccidenteTrabajo");

        // Si el checkbox está seleccionado, habilitar el botón; de lo contrario, deshabilitarlo.
        botonGuardar.disabled = !checkbox.checked;
    }
</script>



<footer id="footer">

    <div class="">
        <div class="container">
            <div class="">
                <div id="copyright">



                    <!-- BEGIN: Custom advanced (www.pluginaria.com) -->
                    <div style="text-align: center;">
                        <hr style="color: #1051eae2;">
                        <span style="color: #0d3c61;">
                            <strong>Horario de Atención:</strong>
                        </span>&nbsp;
                        <span style="color: #000000;">Lunes a Viernes de 07:45 am - 12:45 pm y 02:45 pm - 05:45 pm</span>
                    </div>
                    <div style="text-align: center;">
                        <span style="color: #000000;">
                            <span style="color: #0d3c61;">
                                <strong style="text-align: center;">Dirección:</strong>
                            </span>&nbsp;Calle 16 # 12 - 120 Edificio
                            Alfonso López Michelsen Valledupar - Cesar - Colombia
                        </span>
                    </div>
                    <div style="text-align: center;">
                        <span style="color: #000000;"></span>
                        <span>
                            <span style="color: #0d3c61;">
                                <strong>
                                    Líneas de Atención a la
                                    Ciudadanía:
                                </strong>
                            </span>&nbsp;<span style="color: #000000;">
                                01 8000 954 099 / (575)
                                5748230
                            </span>
                        </span>
                    </div>
                    <div style="text-align: justify;">

                        <div style="text-align: center;">
                            <span style="color: #000000;">
                                <strong>
                                    <span style="color: #0d3c61;">Correo Institucional:</span>
                                    &nbsp;
                                </strong>
                                <a href="mailto:contactenos@cesar.gov.co" style="color: #000000;">contactenos@cesar.gov.co</a>
                                &nbsp;
                            </span>
                        </div>
                        <div style="text-align: center;">
                            <span style="color: #000000;">
                                <span style="color: #0d3c61;">
                                    <strong>Código Postal:</strong>&nbsp;
                                </span>200001
                            </span>
                        </div>
                        <div style="text-align: center;">
                            <span style="color: #000000;">
                                <span style="color: #0d3c61;">
                                    <strong>Nit:</strong>
                                    &nbsp;
                                </span>892399999-1
                            </span>
                        </div>
                        <div style="text-align: center;">
                            <strong style="color: #0d3c61;">
                                <a href="https://cesar.gov.co/d/index.php/es/2-uncategorised/2856-artpolpriv"
                                   style="color: #0d3c61;">
                                    Políticas
                                    de Privacidad y Condiciones de Uso de la Información
                                </a>
                            </strong>
                        </div>
                    </div>
                    <div>
                        &nbsp;&nbsp;
                    </div>
                    <div style="text-align: center;">
                        <img src="~/images/banner_28.png" alt="0000 2020 imggbp 01" style="max-width: 100%;" />

                    </div>
                    <br><br>
                </div>





            </div>
        </div>
    </div>



</footer>




<style>

    #footer {
        text-align: center;
        width: 100%;
        background-color: #f5f5f5;
        padding: 20px;
    }

        #footer img {
            max-width: 100%;
            height: auto;
        }

        #footer div {
            max-width: 100%;
        }
</style>

