<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<link href="~/Content/styleLogin.css" rel="stylesheet" />
    <style>
        body {
            background-image: url('../../images/accidente-almacen-hombre-piso_1303-16645.jpg');
           
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
            <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p style=" color:white";> &copy; @DateTime.Now.Year - Gobernacion del Cesar</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
