@{ 
    string V = "1";
    List<BIOMEDICO.Models.ASignarPermisos> listapermisosasignados = new List<BIOMEDICO.Models.ASignarPermisos>();
    if (BIOMEDICO.Clases.Utilidades.ActiveUser.IdUsuario != null)
    {
        listapermisosasignados = BIOMEDICO.Clases.Utilidades.Getlistapermisos();
    }

}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SITIC</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/png" href="~/images/Gober.png" />
    <link href="~/Content/css/icons/icomoon/styles.css" rel="stylesheet" />
    <link href="~/Content/css/icons/fontawesome/styles.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap_limitless.css" rel="stylesheet" />
    <link href="~/Content/css/layout.css" rel="stylesheet" />
    <link href="~/Content/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/colors.css" rel="stylesheet" />

    <link href="~/Content/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    @*<link href="~/Content/css/plugins/dataTables/datatables.min.css" rel="stylesheet" />*@
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/Content/js/main/jquery.min.js?@V"></script>
    @*<script src="~/Scripts/validation/validate.min.js?@V"></script>*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/Content/js/plugins/forms/validation/localization/messages_es.js?@V"></script>
    <script src="~/Content/js/main/bootstrap.bundle.min.js?@V"></script>
    <script src="~/Content/js/plugins/loaders/blockui.min.js?@V"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/Content/js/plugins/visualization/d3/d3.min.js?@V"></script>
    <script src="~/Content/js/plugins/visualization/d3/d3_tooltip.js?@V"></script>
    <script src="~/Content/js/plugins/forms/styling/switchery.min.js?@V"></script>
    <script src="~/Content/js/plugins/forms/selects/bootstrap_multiselect.js?@V"></script>
    <script src="~/Content/js/plugins/ui/moment/moment.min.js?@V"></script>
    <script src="~/Content/js/plugins/pickers/daterangepicker.js?@V"></script>

    <script src="~/Content/js/demo_pages/dashboard.js?@V"></script>
    <script src="~/Content/js/app.js?@V"></script>
    <!-- /theme JS files -->

    <script src="~/Content/js/plugins/sweetalert/sweetalert.min.js?@V"></script>
    <script src="~/Content/js/plugins/dataTables/datatables.min.js?@V"></script>
    <script src="~/Content/js/plugins/select2/select2.full.min.js?@V"></script>


    <script src="~/Content/js/plugins/forms/styling/uniform.min.js?@V"></script>
    <script src="~/Content/js/demo_pages/form_inputs.js?@V"></script>

    <script src="~/Scripts/Utilitis.js"></script>
    <script src="~/Scripts/FuncionesAjax/FuncionesAjax.js"></script>
    <script defer src="~/Scripts/APP/TrabajadoresEncuestados/TrabajadoresEncuestados.js"></script>


</head>

<body>

    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-dark">
        <div class="navbar-brand">
            <a href="/Home/Index" class="d-inline-block">
                
                @{
                    var sesion = BIOMEDICO.Clases.Utilidades.ActiveUser;
                    if (sesion != null)
                    {
                        <h1 style="margin:0; color:white">
                            @sesion.NomUsuario @sesion.ApeUsuario
                        </h1>
                    }

                }
                @*<h1 style="margin:0; color:white">@NombrePagina</h1>
        <input hidden id="CodigoPagina" value="@CodigoPagina" />
        <input hidden id="IdUser" value="@user.Id_Usuario" />*@
            </a>
        </div>
        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>
            </ul>
            @*<span class="badge bg-success ml-md-3 mr-md-auto">Online</span>*@
            <ul class="navbar-nav ml-md-auto">

                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-users4"></i>
                        <span class="NameUser"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        @*<a href="#" class="dropdown-item"><i class="icon-user-plus"></i> Mi Perfil</a>*@
                        <div class="dropdown-divider"></div>
                        <a href="/Login/Login" id="IdCerrarSesion" class="dropdown-item"><i class="icon-users4"></i> Cerrar sesión</a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">
        <!-- Main sidebar -->
        <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">
            <!-- Sidebar mobile toggler -->
            <div class="sidebar-mobile-toggler text-center">
                <a href="#" class="sidebar-mobile-main-toggle">
                    <i class="icon-arrow-left8"></i>
                </a>
                Navigation
                <a href="#" class="sidebar-mobile-expand">
                    <i class="icon-screen-full"></i>
                    <i class="icon-screen-normal"></i>
                </a>
            </div>
            <!-- /sidebar mobile toggler -->
            <!-- Sidebar content -->
            <div class="sidebar-content">
                <!-- User menu -->
                <div class="sidebar-user">
                    <div class="card-body">
                        <div class="d-flex  align-items-center mr-3">
                            <img src="~/images/Gober.png" class="img-fluid" />
                            <div class="media-body">
                                <div class="media-title font-weight-semibold NameUser"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /user menu -->
                <!-- Main navigation -->
                <div class="card card-sidebar-mobile">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">
                        <!-- Main -->

                        <li class="nav-item">
                            <a href="/Home/Index" class="nav-link active">
                                <i class="icon-home4"></i>
                                <span>
                                    SITIC
                                </span>
                            </a>
                        </li>
                        @{
                            var permisoasignado = listapermisosasignados.FirstOrDefault(w => w.Permisos.NomPermiso == "USUARIOS");
                            if (permisoasignado != null)
                            {

                                <li id="C0003" class="nav-item nav-item-submenu">
                                    <a href="#" class="nav-link"><i class="icon-users4"></i> <span>GESTIÓN USUARIOS</span></a>
                                    <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                        <li class="nav-item"><a href="/TipoPermiso/Permisos" class="nav-link">PERMISOS</a></li>
                                        <li class="nav-item"><a href="/Usuarios/Usuarios" class="nav-link">USUARIOS</a></li>
                                        <li class="nav-item"><a href="/Rol/Rol" class="nav-link">ROLES</a></li>
                                        <li class="nav-item"><a href="/AsignarPermisos/AsignarPermisos" class="nav-link">ASIGNAR PERMISOS</a></li>
                                    </ul>
                                </li>
                            }
                        }
                        @{
                            if (listapermisosasignados.FirstOrDefault(w => w.Permisos.NomPermiso == "SUPERVISOR") != null)
                            {
                                <li id="C0001" class="nav-item nav-item-submenu">
                                    <a href="#" class="nav-link"><i class="icon-windows2"></i> <span>LISTADO TRABAJADORES</span></a>
                                    <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                        <li class="nav-item"><a href="/AmbulanteSemiestacionario/ListaInformeAmbulanteSemiestacionario" class="nav-link">LISTADO AMBULANTE Y SEMIESTACIONARIO</a></li>
                                        <li class="nav-item"><a href="/Estacionario/ListaInformeEstacionario" class="nav-link">LISTADO ESTACIONARIO</a></li>

                                    </ul>
                                </li>
                            }
                        }

                        @{
                            if (listapermisosasignados.FirstOrDefault(w => w.Permisos.NomPermiso == "ENCUESTADOR") != null)
                            {
                                <li id="C0001" class="nav-item nav-item-submenu">
                                    <a href="#" class="nav-link"><i class="icon-windows2"></i> <span>ENCUESTAS</span></a>
                                    <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                        <li class="nav-item"><a href="/TrabajadoresIndependientes/Agregar" class="nav-link">REGISTRAR</a></li>
                                        <li class="nav-item"><a href="/TrabajadoresIndependientes/ListaTrabajadoresIndependientes" class="nav-link">LISTADO</a></li>

                                    </ul>
                                </li>
                            }
                        }

                        @*@{
            if (listapermisosasignados.FirstOrDefault(w => w.Permisos.NomPermiso == "ENCUESTADOR") != null)
            {
                <li id="C0001" class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link"><i class="icon-windows2"></i> <span>ACCIDENTE TRABAJO</span></a>
                    <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                        <li class="nav-item"><a href="/InformeAccidenteTrabajo/Agregar" class="nav-link">REGISTRAR ACCIDENTE DE TRABAJO</a></li>
                        <li class="nav-item"><a href="/InformeAccidenteTrabajo/ListaInformeAccidenteTrabajo" class="nav-link">LISTADO</a></li>

                    </ul>
                </li>
            }
        }*@
                        @{
                            if (listapermisosasignados.FirstOrDefault(w => w.Permisos.NomPermiso == "ENCUESTADOR") != null)
                            {
                                <li id="C0001" class="nav-item nav-item-submenu">
                                    <a href="#" class="nav-link"><i class="icon-windows2"></i> <span>AMBULANTE - SEMIESTACIONARIO</span></a>
                                    <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                        <li class="nav-item"><a href="/AmbulanteSemiestacionario/Agregar" class="nav-link">REGISTRAR AMBULANTE - SEMIESTACIONARIO</a></li>
                                        @*<li class="nav-item"><a href="/AmbulanteSemiestacionario/ListaInformeAmbulanteSemiestacionario" class="nav-link">LISTADO</a></li>*@

                                    </ul>
                                </li>
                            }
                        }
                        @{
                            if (listapermisosasignados.FirstOrDefault(w => w.Permisos.NomPermiso == "ENCUESTADOR") != null)
                            {
                                <li id="C0001" class="nav-item nav-item-submenu">
                                    <a href="#" class="nav-link"><i class="icon-windows2"></i> <span>AMBULANTE - ESTACIONARIO</span></a>
                                    <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                        <li class="nav-item"><a href="/Estacionario/Agregar" class="nav-link">REGISTRAR - ESTACIONARIO</a></li>
                                        @*<li class="nav-item"><a href="/Estacionario/ListaInformeEstacionario" class="nav-link">LISTADO</a></li>*@

                                    </ul>
                                </li>
                            }
                        }
                        @*@{
            if (listapermisosasignados.FirstOrDefault(w => w.Permisos.NomPermiso == "ESPECIALIDAD") != null)
            {
                <li id="C0001" class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link"><i class="icon-windows2"></i> <span>ESPECIALISTAS</span></a>
                    <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                        <li class="nav-item"><a href="/Medicos/Agregar" class="nav-link">AGREGAR</a></li>
                        <li class="nav-item"><a href="/Medicos/ListaMedicosDeportiva" class="nav-link">LISTADO</a></li>

                    </ul>
                </li>
            }
        }*@
                        <!--@{
        if (listapermisosasignados.FirstOrDefault(w => w.Permisos.NomPermiso == "MEDICINA") != null)
        {
            <li id="C0001" class="nav-item nav-item-submenu">
                <a href="#" class="nav-link"><i class="icon-windows2"></i> <span>MEDICINA DEL DEPORTE</span></a>
                <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                    <li class="nav-item"><a href="/MedicinaDeportiva/Agregar" class="nav-link">AGREGAR</a></li>
                    <li class="nav-item"><a href="/MedicinaDeportiva/ListaMedicinaDeportiva" class="nav-link">LISTADO</a></li>

                </ul>
            </li>
        }
    }-->
                        @*@{
            if (listapermisosasignados.FirstOrDefault(w => w.Permisos.NomPermiso == "FISIOTERAPIA") != null)
            {
                <li id="C0001" class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link"><i class="icon-windows2"></i> <span>FISIOTERAPIA</span></a>
                    <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                        <li class="nav-item"><a href="/Fisioterapia/Agregar" class="nav-link">AGREGAR</a></li>
                        <li class="nav-item"><a href="/Fisioterapia/ListaDeporFisioterapia" class="nav-link">LISTADO</a></li>
                    </ul>
                </li>
            }
        }*@
                        @*@{
            if (listapermisosasignados.FirstOrDefault(w => w.Permisos.NomPermiso == "NUTRICIÓN") != null)
            {
                <li id="C0001" class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link"><i class="icon-windows2"></i> <span>NUTRICIÓN</span></a>
                    <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                        <li class="nav-item"><a href="/Nutricion/Agregar" class="nav-link">AGREGAR</a></li>
                        <li class="nav-item"><a href="/Nutricion/ListaNutricionDeportiva" class="nav-link">LISTADO</a></li>
                    </ul>
                </li>
            }
        }*@
                        @*@{
            if (listapermisosasignados.FirstOrDefault(w => w.Permisos.NomPermiso == "PSICOLOGIA") != null)
            {
                <li id="C0001" class="nav-item nav-item-submenu">
                    <a href="#" class="nav-link"><i class="icon-windows2"></i> <span>PSICOLOGIA</span></a>
                    <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                        <li class="nav-item"><a href="/Psicologia/Agregar" class="nav-link">AGREGAR</a></li>
                        <li class="nav-item"><a href="/Psicologia/ListaPsicologiaDeportiva" class="nav-link">LISTADO</a></li>
                    </ul>
                </li>
            }
        }
        @{*@
                        <!--if (listapermisosasignados.FirstOrDefault(w => w.Permisos.NomPermiso == "VERCITAS") != null)
    {
        <li id="C0001" class="nav-item nav-item-submenu">
            <a href="#" class="nav-link"><i class="icon-windows2"></i> <span>CITAS MEDICAS</span></a>
            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                <li class="nav-item"><a href="/CitasMedicas/Agregar" class="nav-link">CITAS</a></li>
                <li class="nav-item"><a href="/CitasMedicas/ListaCitasMedicasDeportiva" class="nav-link">LISTADO</a></li>
            </ul>
        </li>
    }-->
                        <!--}-->
                    </ul>
                        
                    </div>
                <!-- /main navigation -->
            </div>
            <!-- /sidebar content -->

        </div>
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper" style="margin:1%">

            @RenderBody()

            <!-- /content area -->
            <!-- Footer -->
            <div class="navbar navbar-expand-lg navbar-light">
                <div class="text-center d-lg-none w-100">
                    <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                        <i class="icon-unfold mr-2"></i>
                        Footer
                    </button>
                </div>
                <div style="padding-left: 1.25rem;" class="navbar-collapse collapse" id="navbar-footer">
                    <span class="navbar-text">
                        &copy;  @DateTime.Now.Year - GOBERNACION DEL CESAR
                        <br />
                        <a href="http://cesar.gov.co/d/index.php/es/"> OFICINA DE SISTEMAS</a>

                    </span>

                   </div>

            </div>
            <!-- /footer -->
        </div>
        <!-- /main content -->
    </div>

    <div class="modal fade" id="pleaseWaitDialog" style="background-color: transparent !important; border: none !important;" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="margin-top: 250px; background-color: transparent !important; border: none !important;">
            <div class="modal-content" style="background-color: transparent !important; border: none !important; box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            @*<label style="color:white; font-size:40px;font-weight:bold;font-family:'Century Gothic'">Construye</label><br />*@
                            <div class="pace-demo">
                                <div class="theme_perspective">
                                    <div class="pace-progress"></div>
                                    <div class="pace_activity"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /page content -->
</body>
</html>
