@{
    string NombrePagina = WebAdminCitas.Controllers.HomeController.NombreAplicacion();
    WebAdminCitas.Models.Usuario user = new WebAdminCitas.Models.Usuario();
    string V = WebAdminCitas.Controllers.HomeController.Version();

    string CodigoPagina = WebAdminCitas.Controllers.HomeController.CodPagina();

    if (Request.Cookies["_TokenValidationcmps"] != null)
    {
        user = WebAdminCitas.Clases.Utilidades.Base64Decode(Request.Cookies["_TokenValidationcmps"].Value);
    }
    
}
@if (user.Nombre_Usuario == null)
{
    Response.Redirect("/Login/Index");
}
else
{

    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Admin movil</title>
        <!-- Global stylesheets -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/png" href="~/Content/images/logoCMPS.png" />
        <link href="~/Content/css/icons/icomoon/styles.css" rel="stylesheet" />
        <link href="~/Content/css/icons/fontawesome/styles.min.css" rel="stylesheet" />
        <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/css/bootstrap_limitless.css" rel="stylesheet" />
        <link href="~/Content/css/layout.css" rel="stylesheet" />
        <link href="~/Content/css/components.min.css" rel="stylesheet" type="text/css">
        <link href="~/Content/css/colors.css" rel="stylesheet" />

        <link href="~/Content/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
        @*<link href="~/Content/css/plugins/dataTables/datatables.min.css" rel="stylesheet" />*@
        <!-- /global stylesheets -->
        <!-- Core JS files -->
        <script src="~/Scripts/js/main/jquery.min.js?@V"></script>
        <script src="~/Scripts/js/main/bootstrap.bundle.min.js?@V"></script>
        <script src="~/Scripts/js/plugins/loaders/blockui.min.js?@V"></script>
        <!-- /core JS files -->
        <!-- Theme JS files -->
        <script src="~/Scripts/js/plugins/visualization/d3/d3.min.js?@V"></script>
        <script src="~/Scripts/js/plugins/visualization/d3/d3_tooltip.js?@V"></script>
        <script src="~/Scripts/js/plugins/forms/styling/switchery.min.js?@V"></script>
        <script src="~/Scripts/js/plugins/forms/selects/bootstrap_multiselect.js?@V"></script>
        <script src="~/Scripts/js/plugins/ui/moment/moment.min.js?@V"></script>
        <script src="~/Scripts/js/plugins/pickers/daterangepicker.js?@V"></script>

        <script src="~/Scripts/js/demo_pages/dashboard.js?@V"></script>
        <script src="~/Scripts/js/app.js?@V"></script>
        <!-- /theme JS files -->
        <script src="~/Scripts/App/Login/DataUser.js?@V"></script>

        <script src="~/Scripts/js/plugins/forms/validation/validate.min.js?@V"></script>
        <script src="~/Scripts/js/plugins/forms/validation/localization/messages_es.js?@V"></script>
        <script src="~/Scripts/js/plugins/sweetalert/sweetalert.min.js?@V"></script>
        <script src="~/Scripts/js/plugins/dataTables/datatables.min.js?@V"></script>
        <script src="~/Scripts/js/plugins/select2/select2.full.min.js?@V"></script>
        <script src="~/Scripts/Utilidades.js?@V"></script>
        <script src="~/Scripts/Base64.js?@V"></script>
        <script src="~/Scripts/App/Login/DataUser.js?@V"></script>

        <script src="~/Scripts//js/plugins/forms/styling/uniform.min.js?@V"></script>
        <script src="~/Scripts/js/demo_pages/form_inputs.js?@V"></script>

        <script src="~/Scripts/App/Permisos/Permisos.js?@V"></script>
    </head>
    <body>
        <!-- Main navbar -->
        <div class="navbar navbar-expand-md navbar-dark">
            <div class="navbar-brand">
                <a href="/Home/Index" class="d-inline-block">
                    <h1 style="margin:0; color:white">@NombrePagina</h1>
                    <input hidden id="CodigoPagina" value="@CodigoPagina" />
                    <input hidden id="IdUser" value="@user.Id_Usuario" />
                </a>
            </div>
            <div class="d-md-none">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                    <i class="icon-tree5"></i>
                </button>
                <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                    <i class="icon-paragraph-justify3"></i>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-mobile">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                            <i class="icon-paragraph-justify3"></i>
                        </a>
                    </li>
                </ul>
                @*<span class="badge bg-success ml-md-3 mr-md-auto">Online</span>*@
                <ul class="navbar-nav ml-md-auto">

                    <li class="nav-item dropdown dropdown-user">
                        <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user mr-2 text-35"></i>
                            <span class="NameUser"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item"><i class="icon-user-plus"></i> Mi Perfil</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" id="IdCerrarSesion" class="dropdown-item"><i class="icon-switch2"></i> Cerrar sesión</a>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        <!-- /main navbar -->
        <!-- Page content -->
        <div class="page-content">
            <!-- Main sidebar -->
            <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">
                <!-- Sidebar mobile toggler -->
                <div class="sidebar-mobile-toggler text-center">
                    <a href="#" class="sidebar-mobile-main-toggle">
                        <i class="icon-arrow-left8"></i>
                    </a>
                    Navigation
                    <a href="#" class="sidebar-mobile-expand">
                        <i class="icon-screen-full"></i>
                        <i class="icon-screen-normal"></i>
                    </a>
                </div>
                <!-- /sidebar mobile toggler -->
                <!-- Sidebar content -->
                <div class="sidebar-content">
                    <!-- User menu -->
                    <div class="sidebar-user">
                        <div class="card-body">
                            <div class="d-flex  align-items-center mr-3">
                                <i class="fa fa-user mr-2 text-35"></i>
                                <div class="media-body">
                                    <div class="media-title font-weight-semibold NameUser"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /user menu -->
                    <!-- Main navigation -->
                    <div class="card card-sidebar-mobile">
                        <ul class="nav nav-sidebar" data-nav-type="accordion">
                            <!-- Main -->
                            @*<li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Princ</div> <i class="icon-menu" title="Main"></i></li>*@
                            <li class="nav-item">
                                <a href="/Home/Index" class="nav-link active">
                                    <i class="icon-home4"></i>
                                    <span>
                                        Inicio
                                    </span>
                                </a>
                            </li>

                            <li id="C0001" class="nav-item">
                                <a href="/GestionDisponibilidad/Index" class="nav-link">
                                    <i class="icon-list"></i>
                                    <span>
                                        Gestión disponibilidad
                                    </span>
                                </a>
                            </li>

                            <li id="C0001" class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link"><i class="icon-office"></i> <span>Gestión Eps</span></a>
                                <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                    <li class="nav-item"><a href="/Eps/Index" class="nav-link">Eps</a></li>
                                    <li class="nav-item"><a href="/Eps/SedesPorEps" class="nav-link">Sedes por Eps</a></li>
                                </ul>
                            </li>

                            <li id="C0002" class="nav-item">
                                <a href="/Especialidad/Index" class="nav-link">
                                    <i class="icon-clipboard3"></i>
                                    <span>
                                        Reglas especialidades
                                    </span>
                                </a>
                            </li>

                            <li id="C0003" class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link"><i class="icon-users4"></i> <span>Gestión usuarios</span></a>
                                <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                    <li class="nav-item"><a href="/Usuario/Index" class="nav-link">Usuario</a></li>
                                </ul>
                            </li>

                            <li id="C0004" class="nav-item">
                                <a href="/Carrusel/Index" class="nav-link">
                                    <i class="icon-images2"></i>
                                    <span>
                                        Gestión carrusel
                                    </span>
                                </a>
                            </li>
                            @*<li class="nav-item nav-item-submenu">
            <a href="#" class="nav-link"><i class="icon-users4"></i> <span>Gestión</span></a>
            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                <li class="nav-item"><a href="/Usuario/FormularioUsuario" class="nav-link active">Registrar</a></li>
                <li class="nav-item"><a href="/Usuario/Index" class="nav-link">Listar</a></li>
            </ul>
        </li>*@

                        </ul>
                    </div>
                    <!-- /main navigation -->
                </div>
                <!-- /sidebar content -->

            </div>
            <!-- /main sidebar -->
            <!-- Main content -->
            <div class="content-wrapper">

                @RenderBody()

                <!-- /content area -->
                <!-- Footer -->
                <div class="navbar navbar-expand-lg navbar-light">
                    <div class="text-center d-lg-none w-100">
                        <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                            <i class="icon-unfold mr-2"></i>
                            Footer
                        </button>
                    </div>
                    <div style="padding-left: 1.25rem;" class="navbar-collapse collapse" id="navbar-footer">
                        <span class="navbar-text">
                            &copy; CMPS @DateTime.Now.Year - Todos los derechos reservados
                        </span>
                    </div>
                </div>
                <!-- /footer -->
            </div>
            <!-- /main content -->
        </div>

        <div class="modal fade" id="pleaseWaitDialog" style="background-color: transparent !important; border: none !important;" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" style="margin-top: 250px; background-color: transparent !important; border: none !important;">
                <div class="modal-content" style="background-color: transparent !important; border: none !important; box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                @*<label style="color:white; font-size:40px;font-weight:bold;font-family:'Century Gothic'">Construye</label><br />*@
                                <div class="pace-demo">
                                    <div class="theme_perspective">
                                        <div class="pace-progress"></div>
                                        <div class="pace_activity"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /page content -->
    </body>
</html>
}